.map-container {
  position: absolute;
  top: 6em;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  @apply bg-white max-w-lg mx-auto p-5 rounded-xl shadow-md font-nunito;
  display: inline-block;
  position: absolute;
  top: 10em;
  left: 0;
  margin: 12px;
  color: black;
  z-index: 1 !important;
  padding: 10px;
  font-weight: bold;
}